*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background: palegreen;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.choice{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background: #000;
    cursor: pointer;
}
img{
    height: 18vh;
    width: 18vh;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
}

.score{
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#computer-score, #user-score{
    font-size: 5rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg{
    background: #000;
    color: white;
    display: inline;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

